<div style="padding:20px;">
<div style="padding-right:20px;" class="row-space-between">
  <h4 class="user-info">Username</h4>
  <h4 class="user-info">Email</h4>
  <h4 class="user-info">Admin</h4>
  <h4 class="user-info">Password(Hashed)</h4>
  <h4 class="user-info"></h4>
</div>
<div class="user-section">
<div class="row-space-between user-row" *ngFor="let user of allUsers; let i = index">
    <div class="user-info">{{user.username}}</div>
    <div class="user-info">{{user.email}}</div>
    <div class="user-info">{{user.admin}}</div>
    <div class="user-info">{{user.hash_password}}</div>
    <div class="user-info" (click)="deleteUser(user._id)">DELETE USER</div>
</div>
</div>
<div style="margin-top:50px; padding-right:20px;" class="row-space-between">
  <h4 class="user-info">Username:</h4>
  <h4 class="user-info">Rating:</h4>
  <h4 class="user-info">Review:</h4>
  <h4 class="user-info"></h4>
</div>
<div class="user-section">
<div *ngFor="let review of allReviews; let i = index">
  <div class="row-space-between user-row">
    <div class="user-info">{{review.username}}</div>
    <div class="user-info">{{review.rating}}</div>
    <div class="user-info">{{review.review}}</div>
    <div class="user-info" (click)="deleteReview(review._id)">DELETE REVIEW</div>
  </div>
</div>
</div>
</div>
