/* You can add global styles to this file, and also import other style files */

.row-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.border-test {
  border: 1px solid black;
}
