<nav>
    <ul>
      <div class="navWrapHome">
        <div class="spacer">
          <div class="navButton">
            <a class="home" routerLink="">Home</a>
          </div>
        </div>
        <div class="navWrap" *ngIf="!token">
          <div class="spacer">
            <div class="navButton">
              <a class="login" routerLink="login">Login</a>
            </div>
          </div>
          <div class="spacer">
            <div class="navButton">
              <a class="register" routerLink="register">Register</a>
            </div>
          </div>
        </div>
        <div *ngIf="admin === 'true'">
          <div class="spacer">
            <div class="navButton">
              <a class="admin" routerLink="admin">Admin</a>
            </div>
          </div>
        </div>
        <div *ngIf="token">
          <div class="spacer">
            <div class="navButton">
                <li (click)="signOut()">Log Out</li>
            </div>
          </div>
        </div>
      </div>
    </ul>

  </nav>


<router-outlet></router-outlet>