<!-- <form class="account-form">
    <div class="form-area">
      <input
        type="text"
        id="username"
        placeholder="Enter Username"
        v-model="form.username"
      />
      <input
        type="text"
        id="fname"
        placeholder="Enter First Name"
        v-model="form.fname"
      />
      <input
        type="text"
        id="lname"
        placeholder="Enter Last Name"
        v-model="form.lname"
      />
      <input
        type="text"
        id="street"
        placeholder="Enter Street"
        v-model="form.street"
      />
      <input
        type="text"
        id="city"
        placeholder="Enter City"
        v-model="form.city"
      />
      <input
        type="text"
        id="state"
        placeholder="Enter State (Ex: UT)"
        v-model="form.state"
      />
      <input
        type="number"
        id="zip_code"
        placeholder="Enter Zip Code"
        v-model="form.zip_code"
      />
      <input
        type="text"
        id="email"
        placeholder="Enter Email"
        v-model="form.email"
      />
      <input
        type="password"
        id="password"
        placeholder="Enter Password"
        v-model="form.password"
      />
      <input
        type="text"
        id="phone"
        placeholder="Enter Phone Number"
        v-model="form.phone"
      />
      <div v-for="error in errors">
        <div>{{ error }}</div>
      </div>
      <button type="submit" class="btn confirm-btn">CREATE ACCOUNT</button>
    </div>
  </form> -->

  <div class="registerArea">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="account-form">
      <p>
        <label>First Name </label>
        <input type="text" formControlName="fname">
      </p>
      <p>
        <label>Last Name</label>
        <input type="text" formControlName="lname">
      </p>
      <p>
        <label>Street</label>
        <input type="text" formControlName="street">
      </p>
      <p>
        <label>City</label>
        <input type="text" formControlName="city">
      </p>
      <p>
        <label>State</label>
        <input type="text" formControlName="state">
      </p>
      <p>
        <label>Zip Code</label>
        <input type="number" formControlName="zip_code">
      </p>
      <p>
        <label>Email</label>
        <input type="text" formControlName="email">
      </p>
      <p>
        <label>Phone</label>
        <input type="text" formControlName="phone">
      </p>
      <p>
        <label>Username</label>
        <input type="text" formControlName="username">
      </p>
      <p>
        <label>Password </label>
        <input type="password" formControlName="password">
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>
  </div>
