<div *ngIf="token">
<div class="movie-poster">
  <img
  class="large-poster"
  src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
/>
</div>
<div class="movie-content" *ngIf="movie">
  <img
    class="poster-img"
    src="https://image.tmdb.org/t/p/original{{movie.poster_path}}"
  />

  <div class="movie-descriptions">
    <h1 class="white-text">{{movie.title}}</h1>
    <div style="margin: 30px 0px 0px 0px; width:100%;" class="row">
      <div *ngFor="let genre of movie.genres">
        <div class="genre-spacing">
          {{ genre.name }}
        </div>
      </div>
    </div>
    <div style="line-height: 1.75">{{ movie.overview }}</div>
    <div class="reviewButton" (click)="open(content)">Leave A Review</div>
  </div>
</div>
<div class="review-content">
<div class="review-card" *ngFor="let review of reviews; let i = index">
  <h3>{{ review.username }}</h3>
  <div>{{ review.review }}</div>
  <ngb-rating [rate]="review.rating" [readonly]="true" [max]="5">
    <ng-template let-fill="fill">
      <span class="star" [class.filled]="fill === 100">&#9733;</span>
    </ng-template>
  </ngb-rating>
</div>
</div>
</div>

<ng-template #t let-fill="fill" let-index="index">
  <span class="star" [class.green]="index === 4" [class.orange]="index === 3">
    <i class="fas fa-square square-star"></i>
  </span>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Leave A Review</h4>
    <div class="close-btn" (click)="modal.dismiss()">X</div>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
      <textarea formControlName="message" maxlength="100" placeholder="Maximum of 100 characters"></textarea>
      <br/>
      <div style="width: 100%; margin:0 auto">
      <ngb-rating [rate]="currentRate" [max]="5" formControlName="ctrl">
        <ng-template let-fill="fill">
          <span class="starBig" [class.filled]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss()" type="submit">Add Review</button>
  </div>
</form>
</ng-template>
